<?xml version="1.0" encoding="UTF-8"?>
<!-- 日志级别从低到高分为TRACE < DEBUG < INFO < WARN < ERROR < FATAL，如果设置为WARN，则低于WARN的信息都不会输出 -->
<!-- scan:当此属性设置为true时，配置文件如果发生改变，将会被重新加载，默认值为true -->
<!-- scanPeriod:设置监测配置文件是否有修改的时间间隔，如果没有给出时间单位，默认单位是毫秒。当scan为true时，此属性生效。默认的时间间隔为1分钟。 -->
<!-- debug:当此属性设置为true时，将打印出logback内部日志信息，实时查看logback运行状态。默认值为false。 -->
<configuration scan="true" scanPeriod="10 seconds">
    <!-- properties -->
    <springProperty scope="context" name="LOGGING_CONTEXT_NAME" source="logging.context.name" defaultValue="doox-generator"/>
    <springProperty scope="context" name="LOGGING_FILE_PATH" source="logging.file.path" defaultValue="./logs"/>
    <springProperty scope="context" name="LOGGING_LEVEL_ROOT" source="logging.level.root" defaultValue="info"/>

    <contextName>${LOGGING_CONTEXT_NAME}</contextName>

    <!--本机 ip 地址-->
    <conversionRule conversionWord="ip" converterClass="org.nqcx.generator.common.IPLogConfig"/>

    <!-- 彩色日志依赖的渲染类 -->
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>
    <conversionRule conversionWord="wex"
                    converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter"/>
    <conversionRule conversionWord="wEx"
                    converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter"/>

    <!-- 输出到控制台-->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <!--此日志appender是为开发使用，只配置最底级别，控制台输出的日志级别是大于或等于此级别的日志信息-->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>info</level>
        </filter>
        <encoder>
            <Pattern>
                <![CDATA[${CONSOLE_LOG_PATTERN:-%clr(%d{HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(-){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}]]>
            </Pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- 访问日志文件 access -->
    <appender name="ACCESS_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <!--此日志appender是为开发使用，只配置最底级别，控制台输出的日志级别是大于或等于此级别的日志信息-->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>info</level>
        </filter>
        <encoder>
            <Pattern>
                <![CDATA["time":"%d{yyyy-MM-dd HH:mm:ss.SSS}","serverAddr":"%ip","webAppName":"${LOGGING_CONTEXT_NAME}",%m%n]]>
            </Pattern>
            <charset>UTF-8</charset>
        </encoder>

    </appender>

    <!-- 访问日志 -->
    <logger name="_NQCX_LOGGER_ACCESS" level="info" additivity="false">
        <appender-ref ref="ACCESS_CONSOLE"/>
    </logger>

    <root level="${LOGGING_LEVEL_ROOT}">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
