/* 
 * Copyright 2017 nqcx.org All right reserved. This software is the
 * confidential and proprietary information of nqcx.org ("Confidential 
 * Information"). You shall not disclose such Confidential Information and shall
 * use it only in accordance with the terms of the license agreement you entered
 * into with nqcx.org.
 */

package ${entityPackage};

import org.nqcx.commons.lang.o.EntityBO;

/**
 * 
 * @author naqichuan ${date}
 * 
 */
public class $!{entityName} extends EntityBO {

#foreach($field in $entityFields)
    $field
#end

#foreach($method in $entityMethods)
$method
#end

}