/* 
 * Copyright 2017 nqcx.org All right reserved. This software is the
 * confidential and proprietary information of nqcx.org ("Confidential 
 * Information"). You shall not disclose such Confidential Information and shall
 * use it only in accordance with the terms of the license agreement you entered
 * into with nqcx.org.
 */

package ${mapperPackage};

import org.nqcx.commons3.dao.DaoInterface;

/**
 * 
 * @author naqichuan ${date}
 * 
 */
public interface $!{mapperName} extends DaoInterface {

}