#timer { color: red; font-size: 40px; font-weight: 700; display: -moz-inline-box; display: inline-block; margin: 0 10px }
.msg-list { padding-left: 0; list-style: none } .msg, .msg .msg { margin-top: 15px } .msg:first-child { margin-top: 0 } .msg, .msg-body { overflow: hidden; zoom: 1 } .msg-object { display: block; font-size: 32px; } .msg-heading { margin: 0 0 5px } .msg>.msg-left { margin-right: 10px;float:left!important } h4.msg-heading{margin:0 0 5px; line-height: 32px} .bs-callout-error{ border-left-color: #d9534f } .bs-callout-error h4,.msg-object-error { color: #d9534f } .bs-callout-success  { border-left-color: #3c763d } .bs-callout-success h4,.msg-object-success { color: #3c763d } .bs-callout-msg { border-left-color: #31708f } .bs-callout-msg h4,.msg-object-msg  { color: #31708f }









