#set($layout = "_layout/empty.vm")
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    #if("$!url" != "" && $numberTool.toNumber($auto) > 0)
        <meta http-equiv="refresh" content="$!{auto};URL=$!{url}">
    #end
    <title>$title</title>
    <link rel="stylesheet" type="text/css" href="$!{assetsUrl.forPath().build()}/assets/css/nqcx-min.css$!{timeSure}"/>
    <link rel="stylesheet" type="text/css" href="$!{assetsUrl.forPath().build()}/assets/css/docs-min.css$!{timeSure}"/>
    <link rel="stylesheet" type="text/css" href="$!{assetsUrl.forPath().build()}/assets/css/msg-min.css$!{timeSure}"/>
    <link rel="stylesheet" type="text/css" href="#springUrl('')/assets/fonts/fonts-min.css$!{timeSure}">
</head>
<body>
<div class="container">
    #set($icon = "glyphicon-info-sign")
    #if($!{type} == "success")
        #set($icon = "glyphicon-ok-sign")
    #elseif($!{type} == "error")
        #set($icon = "glyphicon-exclamation-sign")
    #end
    <div class="bs-callout bs-callout-$!{type}">
        <ul class="msg-list">
            <li class="msg">
                <div class="msg-left">
                    <span class="msg-object msg-object-$!{type} glyphicon $!icon"></span>
                </div>
                <div class="msg-body">
                    <h4 class="msg-heading">$!{subject}</h4>
                    #if(${suggest} && ${suggest.size()} > 0)
                        <div class="msg">
                            <div class="msg-body">
                                #if("$!{suggestTitle}" != "")
                                    <h4>$!{suggestTitle}</h4>
                                #end
                                <ul>
                                    #foreach($s in ${suggest})
                                        <li>$!{s}</li>
                                    #end
                                </ul>
                            </div>
                        </div>
                    #end
                    <div class="msg">
                        #if("$!url" != "")
                            #if($numberTool.toNumber($auto) > 0)
                                #springMessageText('T.AUTORETURN' [$auto])
                            #end
                        #end
##                        #if("$!index" != "")
##                            <a href="$!{index}"><span class="glyphicon glyphicon-home">#springMessage('T.RETURNTOHOME')</span></a>
##                        #end
                        #if("$!url" != "")
                            <a href="$!{url}"><span class="glyphicon glyphicon-circle-arrow-left"></span>#springMessage('T.RETURN')</a>
                        #end
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<script type="text/javascript">
    var timer = document.getElementById("timer");
    function countdown() {
        if (!timer)
            return;

        var autoTime = timer.innerHTML;
        if (autoTime > 0) {
            autoTime--;
            timer.innerHTML = autoTime;
        }
        setTimeout('countdown()', 1000)
    }

    window.onload = function () {
        setTimeout('countdown()', 1000);
    };
</script>
</body>
</html>