<form id="generate_form" method="post" action="" xmlns:th="http://www.thymeleaf.org">
    <fieldset>
        <legend>
            <span style="font-weight: 700;">Table -> POJO</span>
        </legend>
        <table border="1" style="border-color: #6a6a6a;" cellpadding="0" cellspacing="0">
            <thead>
            <tr>
                <th>field</th>
                <th>type</th>
                <th>collation</th>
                <th>isNull</th>
                <th>key</th>
                <th>defaultValue</th>
                <th>extra</th>
                <th>privileges</th>
                <th>comment</th>
            </tr>
            </thead>
            <tbody id="tableInfo">
            <tr th:each="c : ${table?.columns}">
                <td th:text="${c.field}"></td>
                <td th:text="${c.type}"></td>
                <td th:text="${c.collation}"></td>
                <td th:text="${c.isNull}"></td>
                <td th:text="${c.key}"></td>
                <td th:text="${c.defaultValue}"></td>
                <td th:text="${c.extra}"></td>
                <td th:text="${c.privileges}"></td>
                <td th:text="${c.comment}"></td>
            </tr>
            </tbody>
        </table>
        <div id="config_pojo_div"></div>
    </fieldset>
    <br/> <br/>
    <fieldset>
        <legend>
            <span style="font-weight: 700;"><input type="checkbox" name="provide_" value="true">Module -> Provide</span>
        </legend>
        <table border="0" cellpadding="0" cellspacing="0">
            <tr>
                <!--<td class="lable">BO package:</td>-->
                <!--<td>-->
                    <!--<input type="text" name="provideBOPackage" class="big_200" value="">-->
                <!--</td>-->
                <td class="lable">O package:</td>
                <td>
                    <input type="text" name="provideOPackage" class="big_200" value="">
                </td>
            </tr>
            <tr>
                <td class="lable">Module provide package:</td>
                <td>
                    <input type="text" name="provideProvidePackage" class="big_200" value="">
                </td>
                <!--<td class="lable"></td>-->
                <!--<td>-->
                <!--</td>-->
            </tr>
        </table>
        <div id="config_provide_div"></div>
    </fieldset>
    <br/> <br/>
    <fieldset>
        <legend>
            <span style="font-weight: 700;"><input type="checkbox" name="dao_" value="true">Module -> Dao</span>
        </legend>
        <table border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td class="lable">PO package:</td>
                <td>
                    <input type="text" name="daoPOPackage" class="big_200" value="">
                </td>
                <td class="lable">Mapper package:</td>
                <td>
                    <input type="text" name="daoMapperPackage" class="big_200" value="">
                </td>
            </tr>
            <tr>
                <td class="lable">Jpa package:</td>
                <td>
                    <input type="text" name="daoJpaPackage" class="big_200" value="">
                </td>
                <td class="lable">Dao package:</td>
                <td>
                    <input type="text" name="daoDAOPackage" class="big_200" value="">
                </td>
            </tr>
        </table>
        <div id="config_dao_div"></div>
    </fieldset>
    <br/> <br/>
    <fieldset>
        <legend>
            <span style="font-weight: 700;"><input type="checkbox" name="service_" value="true">Module -> Service</span>
        </legend>
        <table border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td class="lable">DTO package:</td>
                <td>
                    <input type="text" name="serviceDOPackage" class="big_200" value="">
                </td>
                <td class="lable">Service package:</td>
                <td>
                    <input type="text" name="serviceServicePackage" class="big_200" value="">
                </td>
            </tr>
        </table>
        <div id="config_service_div"></div>
    </fieldset>
    <br/> <br/>
    <fieldset>
        <legend>
            <span style="font-weight: 700;"><input type="checkbox" name="web_" value="true">Module -> Web:</span>
        </legend>
        <table border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td class="lable">VO package:</td>
                <td>
                    <input type="text" name="webVOPackage" class="big_200" value="">
                </td>
                <td class="lable">Controller package:</td>
                <td>
                    <input type="text" name="webControllerPackage" class="big_200" value="">
                </td>
            </tr>
        </table>
        <div id="config_web_div"></div>
    </fieldset>
    <br/>
    <input id="generate_btn" type="button" value="Generate Code"
           style="width: 150px; height: 32px; background-color: orange;"/>
</form>

<script type="text/javascript">
    var button = {
        loadCenter: function () {
            return jQuery('#loadCenter');
        },
        checkForm: function () {
            if (!ws.wsPathExists || !ws.wsPath().val()) {
                jQuery.messager.show({
                    title: 'Error',
                    msg: 'WS not exists.'
                });
                return false;
            } else if (!ws.author().val()) {
                jQuery.messager.show({
                    title: 'Error',
                    msg: 'Please input author.'
                });
                return false;
            } else if (!project.pName().val()) {
                jQuery.messager.show({
                    title: 'Error',
                    msg: 'Please select project.'
                });
                return false;
            } else if (!provide._().is(":checked")
                && !dao._().is(":checked")
                && !service._().is(":checked")
                && !web._().is(":checked")) {
                jQuery.messager.show({
                    title: 'Error',
                    msg: 'Please select modules.'
                });
                return false;
            }
            return true;
        }
    };
</script>
<script type="text/javascript">
    var tableInfo = {
        projectDiv: function () {
            return jQuery('#config_pojo_div');
        },
        info: function () {
            return jQuery('tbody#tableInfo');
        },
        addInfo: function (columns) {
            if (!columns && columns.length === 0)
                return;
            this.info().html('');

            for (var idx in columns) {
                var colstr = '<tr>';
                colstr += '<td>' + columns[idx].field + '</td>';
                colstr += '<td>' + columns[idx].type + '</td>';
                colstr += '<td>' + columns[idx].collation + '</td>';
                colstr += '<td>' + columns[idx].isNull + '</td>';
                colstr += '<td>' + columns[idx].key + '</td>';
                colstr += '<td>' + columns[idx].defaultValue + '</td>';
                colstr += '<td>' + columns[idx].extra + '</td>';
                colstr += '<td>' + columns[idx].privileges + '</td>';
                colstr += '<td>' + columns[idx].comment + '</td>';
                colstr += '</tr>';

                this.info().append(colstr);
            }
        },
        projectInit: function () {
            this.loadTable()
        },
        loadTable: function () {
            var tableName = table.tableName().val();
            if (!tableName)
                return;

            var columns = [];
            nqcxGet("[(@{'/table/get/'})]" + tableName, {}, function (result) {
                if (result.object && result.object.columns) {
                    columns = result.object.columns;
                }
                tableInfo.addInfo(columns);
                tableInfo.config(columns);
            });
        },
        config: function (columns) {
            var tableName = table.tableName().val();
            if (!tableName)
                return;

            var tableHtml = '<hr />';
            tableHtml += '<table border="0" cellpadding="0" cellspacing="0">';
            for (idx in columns) {
                tableHtml += '<tr>' + this.row1(columns[idx]) + '</tr>';
            }
            tableHtml += '</table>';
            this.projectDiv().html(tableHtml);
        },
        row1: function (column) {
            var rowHtml = '';
            var field = column.field;
            var type = column.type;
            var field_ = this.toField(field);
            var type_ = this.toType(type);
            var show = 'private ' + type_ + ' ' + field_ + ";";

            rowHtml += '<td><input id="pojoColumn_' + field + '" type="text" name="pojoColumn" class="big_200" value="' + field + '" readonly="true" /></td>';
            rowHtml += '<td>' + type + '</td>';
            rowHtml += '<td><input id="pojoField_' + field + '" type="text" name="pojoField" class="big_200" value="' + field_ + '" onkeyup="tableInfo.show1(\'' + field + '\')" onafterpaste="tableInfo.show1(\'' + field + '\')" onblur="tableInfo.show1(\'' + field + '\')" /></td>';
            rowHtml += '<td><input id="pojoType_' + field + '" type="text" name="pojoType" class="big_200" value="' + type_ + '" onkeyup="tableInfo.show1(\'' + field + '\')" onafterpaste="tableInfo.show1(\'' + field + '\')" onblur="tableInfo.show1(\'' + field + '\')" /></td>';
            rowHtml += '<td><span id="jojoText_' + field + '">' + show + '</span></td>';

            return rowHtml;
        },
        show1: function (suffix) {
            var field_ = document.getElementById('pojoField_' + suffix).value;
            var type_ = document.getElementById('pojoType_' + suffix).value;
            var show1 = 'private ' + type_ + ' ' + field_ + ";";
            jQuery('#jojoText_' + suffix).html(show1);
        },
        toField: function (input) {
            var prefix = table.colPrefix().val();
            var ps = prefix.split(',');
            if (ps != null && ps.length > 0) {
                for (idx in ps) {
                    if (!ps[idx])
                        continue;
                    input = input.replace(ps[idx], '');
                }
            }
            return input.replaceFirstUP().replaceFirstLow();
        },
        toType: function (input) {
            if (input.startWith('bigint'))
                return "long";
            else if (input.startWith('int'))
                return "int";
            else if (input.startWith('tinyint'))
                return "int";
            else if (input.startWith('float'))
                return "float";
            else if (input.startWith('decimal'))
                return "BigDecimal";
            else if (input.startWith('varchar') || input.startWith('text'))
                return "String";
            else if (input.startWith('datetime') || input.startWith('date') || input.startWith('timestamp'))
                return "Date";
            else if (input.startWith('blob'))
                return "byte[]"
            else
                return input;
        }
    };
</script>
<script type="text/javascript">
    var provide = {
        projectDiv: function () {
            return jQuery('#config_provide_div');
        },
        _: function () {
            return jQuery('input[name="provide_"]');
        },
        // provideBOPackage: function () {
        //     return jQuery('input[name="provideBOPackage"]');
        // },
        provideOPackage: function () {
            return jQuery('input[name="provideOPackage"]');
        },
        provideProvidePackage: function () {
            return jQuery('input[name="provideProvidePackage"]');
        },
        projectInit: function () {
            this.loadPackage();
            this.config();
        },
        loadPackage: function () {
            var tablePack = table.tablePack().val();

            // project pakcage value
            var pValue = project.pPackage().val() || '';

            // var pbValue = pValue + '.provide.bo' + (tablePack ? "." + tablePack : "");
            // if (pbValue.indexOf(".") === 0 && pbValue.length > 1)
            //     pbValue = pbValue.substring(1);

            var poValue = pValue + '.provide.o' + (tablePack ? "." + tablePack : "");
            if (poValue.indexOf(".") === 0 && poValue.length > 1)
                poValue = poValue.substring(1);

            var ppValue = pValue + '.service' + (tablePack ? "." + tablePack : "");
            if (ppValue.indexOf(".") === 0 && ppValue.length > 1)
                ppValue = ppValue.substring(1);

            // set value
            // this.provideBOPackage().val(pbValue);
            this.provideOPackage().val(poValue);
            this.provideProvidePackage().val(ppValue);
        },
        config: function () {
            var tableName = table.tableName().val();
            if (!tableName)
                return;

            var provideHtml = '<hr />';
            provideHtml += '<table border="0" cellpadding="0" cellspacing="0">';
            provideHtml += this.row(tableName);
            provideHtml += '</table>';
            this.projectDiv().html(provideHtml);
        },
        row: function (table) {
            var rowHtml = '';
            var provideName = table.replaceFirstUP();

            // rowHtml += '<tr><td class="lable">Create BO:</td><td class="lable">public class</td><td>' +
            //     '<input id="privideBO" type="text" name="provideBO" class="big_200" value="' + provideName + 'BO"></td>';

            rowHtml += '<tr><td class="lable">Create O:</td><td class="lable">public class</td><td>' +
                '<input id="privideO" type="text" name="provideO" class="big_200" value="' + provideName + '"></td></tr>';

            rowHtml += '<tr><td class="lable">Create Provide:</td><td class="lable">public interface</td><td>' +
                '<input id="privideProvide" type="text" name="provideProvide" class="big_200" value="I' + provideName + 'Provide"></td></tr>';

            // rowHtml += '<tr><td class="lable"></td><td></td></tr>'

            return rowHtml;
        },

    };
</script>
<script type="text/javascript">
    var dao = {
        projectDiv: function () {
            return jQuery('#config_dao_div');
        },
        _: function () {
            return jQuery('input[name="dao_"]');
        },
        poPackage: function () {
            return jQuery('input[name="daoPOPackage"]');
        },
        mapperPackage: function () {
            return jQuery('input[name="daoMapperPackage"]');
        },
        jpaPackage: function () {
            return jQuery('input[name="daoJpaPackage"]');
        },
        daoPackage: function () {
            return jQuery('input[name="daoDAOPackage"]');
        },
        projectInit: function () {
            this.loadPackage();
            this.config()
        },
        loadPackage: function () {
            var tablePack = table.tablePack().val();

            // project pakcage value
            var pValue = project.pPackage().val() || '';

            var poValue = pValue + '.data.po' + (tablePack ? "." + tablePack : "");
            if (poValue.indexOf(".") === 0 && poValue.length > 1)
                poValue = poValue.substring(1);

            var mapperValue = pValue + '.data.mapper' + (tablePack ? "." + tablePack : "");
            if (mapperValue.indexOf(".") === 0 && mapperValue.length > 1)
                mapperValue = mapperValue.substring(1);

            var jpaValue = pValue + '.data.jpa' + (tablePack ? "." + tablePack : "");
            if (jpaValue.indexOf(".") === 0 && jpaValue.length > 1)
                jpaValue = jpaValue.substring(1);

            var daoValue = pValue + '.dao' + (tablePack ? "." + tablePack : "");
            if (daoValue.indexOf(".") === 0 && daoValue.length > 1)
                daoValue = daoValue.substring(1);

            // set value
            this.poPackage().val(poValue);
            this.mapperPackage().val(mapperValue);
            this.jpaPackage().val(jpaValue);
            this.daoPackage().val(daoValue);
        },
        config: function () {
            var tableName = table.tableName().val();
            if (!tableName)
                return;

            var daoHtml = '<hr />';
            daoHtml += '<table border="0" cellpadding="0" cellspacing="0">';
            daoHtml += this.row(tableName)
            daoHtml += '</table>';
            this.projectDiv().html(daoHtml);
        },
        row: function (table) {
            var rowHtml = '';
            var daoName = table.replaceFirstUP();

            rowHtml += '<tr><td class="lable">Create PO:</td><td class="lable">public class</td><td>' +
                '<input id="daoPO" type="text" name="daoPO" class="big_200" value="' + daoName + 'PO"/></td>';

            rowHtml += '<td class="lable">Create Mapper:</td><td class="lable">public interface</td><td>' +
                '<input id="daoMapper" type="text" name="daoMapper" class="big_200" value="I' + daoName + 'Mapper"/></td></tr>';

            rowHtml += '<tr><td class="lable">Create Jpa:</td><td class="lable">public interface</td><td>' +
                '<input id="daoJpa" type="text" name="daoJpa" class="big_200" value="I' + daoName + 'Jpa"/></td>';

            rowHtml += '<td class="lable">Create IDAO:</td><td class="lable">public interface</td><td>' +
                '<input id="daoDAO" type="text" name="daoDAO" class="big_200" value="I' + daoName + 'DAO"/></td></tr>';

            rowHtml += '<tr><td class="lable">Create IDAO impl:</td><td class="lable">public class</td><td>' +
                '<input id="daoDAOImpl" type="text" name="daoDAOImpl" class="big_200" value="' + daoName + 'DAO"/></td>';

            rowHtml += '<tr><td class="lable"></td><td></td></tr>'

            return rowHtml;
        }
    };
</script>
<script type="text/javascript">
    var service = {
        projectDiv: function () {
            return jQuery('#config_service_div');
        },
        _: function () {
            return jQuery('input[name="service_"]');
        },
        serviceDOPackage: function () {
            return jQuery('input[name="serviceDOPackage"]');
        },
        serviceServicePackage: function () {
            return jQuery('input[name="serviceServicePackage"]');
        },
        projectInit: function () {
            this.loadPackage();
            this.config();
        },
        loadPackage: function () {
            var tablePack = table.tablePack().val();

            // project pakcage value
            var pValue = project.pPackage().val() || '';

            var sdValue = pValue + '.data.do_' + (tablePack ? "." + tablePack : "");
            if (sdValue.indexOf(".") === 0 && sdValue.length > 1)
                sdValue = sdValue.substring(1);

            var ssValue = pValue + '.service' + (tablePack ? "." + tablePack : "");
            if (ssValue.indexOf(".") === 0 && ssValue.length > 1)
                ssValue = ssValue.substring(1);

            // set value
            this.serviceDOPackage().val(sdValue);
            this.serviceServicePackage().val(ssValue);
        },
        config: function () {
            var tableName = table.tableName().val();
            if (!tableName)
                return;

            var serviceHtml = '<hr />';
            serviceHtml += '<table border="0" cellpadding="0" cellspacing="0">';
            serviceHtml += this.row(tableName)
            serviceHtml += '</table>';
            this.projectDiv().html(serviceHtml);
        },
        row: function (table) {
            var rowHtml = '';
            var serviceName = table.replaceFirstUP();

            rowHtml += '<tr><td class="lable">Create DO:</td><td class="lable">public class</td><td>' +
                '<input id="serviceDO" type="text" name="serviceDO" class="big_200" value="' + serviceName + 'DO"/></td>';

            rowHtml += '<td class="lable">Create IService:</td><td class="lable">public interface</td><td>' +
                '<input id="serviceService" type="text" name="serviceService" class="big_200" value="I' + serviceName + 'Service"/></td></tr>';

            rowHtml += '<tr><td class="lable">Create IService impl:</td><td class="lable">public class</td><td>' +
                '<input id="servceServiceImpl" type="text" name="servceServiceImpl" class="big_200" value="' + serviceName + 'Service"/></td>';

            rowHtml += '<tr><td class="lable"></td><td></td></tr>'

            return rowHtml;
        }
    };

</script>
<script type="text/javascript">
    var web = {
        projectDiv: function () {
            return jQuery('#config_web_div');
        },
        _: function () {
            return jQuery('input[name="web_"]');
        },
        webVOPackage: function () {
            return jQuery('input[name="webVOPackage"]');
        },
        webControllerPackage: function () {
            return jQuery('input[name="webControllerPackage"]');
        },
        projectInit: function () {
            this.loadPackage();
            this.config();
        },
        loadPackage: function () {
            var tablePack = table.tablePack().val();

            // project pakcage value
            var pValue = project.pPackage().val() || '';

            var wvValue = pValue + '.data.vo' + (tablePack ? "." + tablePack : "");
            if (wvValue.indexOf(".") === 0 && wvValue.length > 1)
                wvValue = wvValue.substring(1);

            var wcValue = pValue + '.web.controller' + (tablePack ? "." + tablePack : "");
            if (wcValue.indexOf(".") === 0 && wcValue.length > 1)
                wcValue = wcValue.substring(1);

            // set value
            this.webVOPackage().val(wvValue);
            this.webControllerPackage().val(wcValue);
        },
        config: function () {
            var tableName = table.tableName().val();
            if (!tableName)
                return;

            var webHtml = '<hr />';
            webHtml += '<table border="0" cellpadding="0" cellspacing="0">';
            webHtml += this.row(tableName)
            webHtml += '</table>';
            this.projectDiv().html(webHtml);
        },
        row: function (table) {
            var rowHtml = '';
            var webName = table.replaceFirstUP();

            rowHtml += '<tr><td class="lable">Create VO:</td><td class="lable">public class</td><td>' +
                '<input id="webVO" type="text" name="webVO" class="big_200" value="' + webName + 'VO"/></td>';

            rowHtml += '<td class="lable">Create Controller:</td><td class="lable">public interface</td><td>' +
                '<input id="webController" type="text" name="webController" class="big_200" value="' + webName + 'Controller"/></td></tr>';

            return rowHtml;
        }
    };
</script>
<script type="text/javascript">
    var generate = function () {
        $('#generate_form').form('nqcxSubmit', {
            url: "[(@{'/generate/doit'})]",
            onSubmit: function () {
                if (button.checkForm())
                    return $(this).form('validate');
                return false;
            },
            addDatas: {
                tableName: table.tableName().val(),
                tablePack: table.tablePack().val(),
                author: ws.author().val(),
                wsPath: ws.wsPath().val(),
                pName: project.pName().val(),
                pPath: project.pPath().val(),
                pPackage: project.pPackage().val(),
                pType: project.pType().filter(':checked').val(),
                provideModule: project.module.provide().val(),
                daoModule: project.module.dao().val(),
                serviceModule: project.module.service().val(),
                webModule: project.module.web().val()
            },
            success: function (result) {
                if (result.success) {
                    jQuery.messager.show({
                        title: 'Success',
                        msg: '保存成功'
                    });
                } else {
                    jQuery.messager.show({
                        title: 'Error',
                        msg: result.errorText
                    });
                }
            }
        });
    };

    jQuery('#generate_btn').unbind('click').click(function () {
        generate();
    });
</script>
<script type="text/javascript">
    project.module.change = function () {
        provide.loadPackage();
        dao.loadPackage();
        service.loadPackage();
        web.loadPackage();
    };
    table.colPrefixChange = function () {
        // 重新加载表
        tableInfo.loadTable();
    };

    $(document).ready(function () {
        button.loadCenter().unbind('click').click(function () {
            table.change();
        });

        tableInfo.projectInit();
        provide.projectInit();
        dao.projectInit();
        service.projectInit();
        web.projectInit();
        console.log("Center loaded.")
    });
</script>
