<form id="generate_form" method="post" action="" xmlns:th="http://www.thymeleaf.org">
    <table border="1" style="border-color: #6a6a6a;" cellpadding="0" cellspacing="0">
        <thead>
        <tr>
            <th>field</th>
            <th>type</th>
            <th>collation</th>
            <th>isNull</th>
            <th>key</th>
            <th>defaultValue</th>
            <th>extra</th>
            <th>privileges</th>
            <th>comment</th>
        </tr>
        </thead>
        <tbody id="tableInfo">
            <tr th:each="c : ${table?.columns}">
                <td th:text="${c.field}"></td>
                <td th:text="${c.type}"></td>
                <td th:text="${c.collation}"></td>
                <td th:text="${c.isNull}"></td>
                <td th:text="${c.key}"></td>
                <td th:text="${c.defaultValue}"></td>
                <td th:text="${c.extra}"></td>
                <td th:text="${c.privileges}"></td>
                <td th:text="${c.comment}"></td>
            </tr>
        </tbody>
    </table>
    <br/>
    <!--<fieldset>-->
        <!--<table border="0" cellpadding="0" cellspacing="0">-->
            <!--<tr height="25">-->
                <!--<td class="lable">Provide-provide Package:</td>-->
                <!--<td>-->

                <!--</td>-->
                <!--<td rowspan="2" class="lable">-->
                    <!--<input id="entityConfig" type="button" value="Add entity" data-value='0'/>-->
                <!--</td>-->
            <!--</tr>-->
            <!--<tr height="25">-->
                <!--<td class="lable">Provide-service package:</td>-->
                <!--<td>a</td>-->
            <!--</tr>-->
            <!--<tr height="25">-->
                <!--<td class="lable">Dao-data package:</td>-->
                <!--<td></td>-->
                <!--<td rowspan="2" class="lable"><input id="daoConfig" type="button" value="Add dao" data-value='0'/>-->
                <!--</td>-->
            <!--</tr>-->
            <!--<tr height="25">-->
                <!--<td class="lable">Dao-dao package:</td>-->
                <!--<td></td>-->
            <!--</tr>-->
            <!--<tr height="25">-->
                <!--<td class="lable">Service-service package:</td>-->
                <!--<td></td>-->
                <!--<td class="lable"><input id="serviceConfig" type="button" value="Add service" data-value='0'/></td>-->
            <!--</tr>-->
            <!--<tr height="25">-->
                <!--<td class="lable">Web-web package:</td>-->
                <!--<td></td>-->
                <!--<td class="lable"><input id="webConfig" type="button" value="Add web" data-value='0'/></td>-->
            <!--</tr>-->
        <!--</table>-->
    <!--</fieldset>-->
    <!--<br/>-->
    <!--<fieldset>-->
        <!--<legend>-->
            <!--<span style="font-weight: 700;">Package name & Package: </span>-->
        <!--</legend>-->
        <!--<table border="0">-->
            <!--<tr id="entityProjectTr" style="display: none;">-->
                <!--<td align="right"><span style="font-weight: 700;">Entity project name: </span></td>-->
                <!--<td></td>-->
                <!--<td align="right"><span style="font-weight: 700;">Entity project package: </span></td>-->
                <!--<td></td>-->
            <!--</tr>-->
            <!--<tr id="daoProjectTr" style="display: none;">-->
                <!--<td align="right"><span style="font-weight: 700;">Mapper project name: </span></td>-->
                <!--<td><input type="text" name="daoProjectName" class="big_200" value=""></td>-->
                <!--<td align="right"><span style="font-weight: 700;">Mapper project package: </span></td>-->
                <!--<td><input type="text" name="daoProjectPackage" class="big_200" value=""></td>-->
            <!--</tr>-->
            <!--<tr id="serviceProjectTr" style="display: none;">-->
                <!--<td align="right"><span style="font-weight: 700;">Service project name: </span></td>-->
                <!--<td><input type="text" name="serviceProjectName" class="big_200" value=""></td>-->
                <!--<td align="right"><span style="font-weight: 700;">Service project package: </span></td>-->
                <!--<td><input type="text" name="serviceProjectPackage" class="big_200" value=""></td>-->
            <!--</tr>-->
        <!--</table>-->
    <!--</fieldset>-->
    <!--<br/>-->
    <fieldset>
        <legend>
            <span style="font-weight: 700;"><input type="checkbox" name="provide_" value="true">Module -> Provide</span>
        </legend>
        <table border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td class="lable">BO package:</td>
                <td>
                    <input type="text" name="provideBOPackage" class="big_200" value="">
                </td>
                <td class="lable">O package:</td>
                <td>
                    <input type="text" name="provideOPackage" class="big_200" value="">
                </td>
            </tr>
            <tr>
                <td class="lable">Module provide package:</td>
                <td>
                    <input type="text" name="provideProvidePackage" class="big_200" value="">
                </td>
                <td class="lable"></td>
                <td>
                </td>
            </tr>
         </table>
        <div id="config_provide_div"></div>
    </fieldset>
    <br/> <br/>
    <fieldset>
        <legend>
            <span style="font-weight: 700;"><input type="checkbox" name="dao_" value="true">Module -> Dao</span>
        </legend>
        <table border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td class="lable">PO package:</td>
                <td>
                    <input type="text" name="daoPOPackage" class="big_200" value="">
                </td>
                <td class="lable">Mapper package:</td>
                <td>
                    <input type="text" name="daoMapperPackage" class="big_200" value="">
                </td>
            </tr>
            <tr>
                <td class="lable">Jpa package:</td>
                <td>
                    <input type="text" name="daoJpaPackage" class="big_200" value="">
                </td>
                <td class="lable">Dao package:</td>
                <td>
                    <input type="text" name="daoDaoPackage" class="big_200" value="">
                </td>
            </tr>
         </table>
        <div id="config_dao_div"></div>
    </fieldset>
    <br/> <br/>
    <fieldset>
        <legend>
            <span style="font-weight: 700;"><input type="checkbox" name="service_" value="true">Module -> Service</span>
        </legend>
        <div id="config_service_div"></div>
    </fieldset>
    <br/> <br/>
    <fieldset>
        <legend>
            <span style="font-weight: 700;"><input type="checkbox" name="web_" value="true">Module -> Web:</span>
        </legend>
        <div id="config_web_div"></div>
    </fieldset>
    <br/>
    <input id="generate_btn" type="button" value="Generate Code"
           style="width: 150px; height: 32px; background-color: orange;"/>
</form>

<script type="text/javascript">
    var button = {
        reloadAll: function () {
            return jQuery('#reloadAll');
        },
        // entityConfig: function () {
        //     return jQuery('#entityConfig');
        // },
        // entityConfigValueAlternation: function () {
        //     if (!this.checkProjectName())
        //         return;
        //     if (!this.entityConfig().attr('data-value') || this.entityConfig().attr('data-value') == 0) {
        //         this.entityConfig().attr('data-value', '1');
        //         this.entityConfig().val('Cancel entity');
        //         this.entityConfig().css('background-color', 'orange');
        //         entity.projectFill();
        //     } else {
        //         this.entityConfig().attr('data-value', '0');
        //         this.entityConfig().val('Add entity');
        //         this.entityConfig().css('background-color', '');
        //         entity.projectClear();
        //     }
        // },
        // daoConfig: function () {
        //     return jQuery('#daoConfig');
        // },
        // daoConfigValueAlternation: function () {
        //     if (!this.checkProjectName())
        //         return;
        //     if (!this.daoConfig().attr('data-value') || this.daoConfig().attr('data-value') == 0) {
        //         this.daoConfig().attr('data-value', '1');
        //         this.daoConfig().val('Cancel dao');
        //         this.daoConfig().css('background-color', 'orange');
        //         dao.projectFill();
        //     } else {
        //         this.daoConfig().attr('data-value', '0');
        //         this.daoConfig().val('Add dao');
        //         this.daoConfig().css('background-color', '');
        //         dao.projectClear();
        //     }
        // },
        // serviceConfig: function () {
        //     return jQuery('#serviceConfig');
        // },
        // serviceConfigValueAlternation: function () {
        //     if (!this.checkProjectName())
        //         return;
        //     if (!this.serviceConfig().attr('data-value') || this.serviceConfig().attr('data-value') == 0) {
        //         this.serviceConfig().attr('data-value', '1');
        //         this.serviceConfig().val('Cancel service');
        //         this.serviceConfig().css('background-color', 'orange');
        //         service.projectFill();
        //     } else {
        //         this.serviceConfig().attr('data-value', '0');
        //         this.serviceConfig().val('Add service');
        //         this.serviceConfig().css('background-color', '');
        //         service.projectClear();
        //     }
        // },
        checkProjectName: function () {
            if (project.pName().val()) {
                return true;
            } else {
                jQuery.messager.show({
                    title: 'Error',
                    msg: 'Please select project.'
                });
                return false;
            }
        }
    };
</script>
<script type="text/javascript">
    var tableInfo = {
        info: function () {
            return jQuery('tbody#tableInfo');
        },
        emptyInfo: function () {
            this.info().html('');
        },
        addInfo: function (column) {
            if (!column)
                return;
            var colstr = '<tr>';
            colstr += '<td>' + column.field + '</td>';
            colstr += '<td>' + column.type + '</td>';
            colstr += '<td>' + column.collation + '</td>';
            colstr += '<td>' + column.isNull + '</td>';
            colstr += '<td>' + column.key + '</td>';
            colstr += '<td>' + column.defaultValue + '</td>';
            colstr += '<td>' + column.extra + '</td>';
            colstr += '<td>' + column.privileges + '</td>';
            colstr += '<td>' + column.comment + '</td>';
            colstr += '</tr>';
            this.info().append(colstr);
        },
        getInfo: function (tableName) {
            if (!tableName)
                return;

            nqcxGet("[(@{'/table/get/'})]" + tableName, {}, function (result) {
                tableInfo.emptyInfo();
                if (result.object && result.object.columns) {
                    for (idx in result.object.columns) {
                        tableInfo.addInfo(result.object.columns[idx]);
                    }
                }
            });
        }
    };
</script>

<script type="text/javascript">
    var provide = {
        // projectTr: function () {
        //     return jQuery('#provideProjectTr');
        // },
        projectDiv: function () {
            return jQuery('#config_provide_div');
        },
        // projectName: function () {
        //     return jQuery('input[name="provideProjectName"]');
        // },
        provideBOPackage: function () {
            return jQuery('input[name="provideBOPackage"]');
        },
        provideOPackage: function () {
            return jQuery('input[name="provideOPackage"]');
        },
        provideProvidePackage: function () {
            return jQuery('input[name="provideProvidePackage"]');
        },
        projectInit: function () {
            this.loadPackage();
            this.loadTable();
        },
          projectClear: function () {
            // this.projectName().val('');
            // this.projectPackage().val('');
            // this.projectTr().css('display', 'none');
            // this.projectDiv().html('');
        },
        loadPackage: function() {
            var tablePack = table.tablePack().val();

            // project pakcage value
            var pValue = project.pPackage().val() || '';

            var pbValue = pValue + '.provide.bo' + (tablePack ? "." + tablePack : "") ;
            if(pbValue.indexOf(".") === 0 && pbValue.length > 1)
                pbValue = pbValue.substring(1);

            var poValue = pValue + '.provide.o' + (tablePack ? "." + tablePack : "");
            if(poValue.indexOf(".") === 0 && poValue.length > 1)
                poValue = poValue.substring(1);

            var ppValue = pValue + '.service' + (tablePack ? "." + tablePack : "");
            if(ppValue.indexOf(".") === 0 && ppValue.length > 1)
                ppValue = ppValue.substring(1);

            // set value
            this.provideBOPackage().val(pbValue);
            this.provideOPackage().val(poValue);
            this.provideProvidePackage().val(ppValue);
        },
        loadTable: function () {
            var tableName = table.tableName().val();
            if (!tableName)
                return;

            var columns = [];
            nqcxGet("[(@{'/table/get/'})]" + tableName, {}, function (result) {
                if (result.object && result.object.columns) {
                    columns = result.object.columns;
                }
                provide.config(columns, tableName);
            });
        },
        config: function (columns, table) {
            var provideHtml = '<hr />';
            provideHtml += '<table border="0" cellpadding="0" cellspacing="0">';
            provideHtml +=  this.row(table);
            // provideHtml += '<tr>' + this.row(table, '') + '</tr>';
            // provideHtml += '<tr>' + this.row(table, 'Provide') + '</tr>';
            // provideHtml += '<tr>' + this.row(table, 'Service') + '</tr>';
            provideHtml += '</table>';
            provideHtml += '<hr />';
            provideHtml += '<table border="0" cellpadding="0" cellspacing="0">';
            for (idx in columns) {
                provideHtml += '<tr>' + this.row1(columns[idx]) + '</tr>';
            }
            provideHtml += '</table>';
            this.projectDiv().html(provideHtml);
        },
        row: function (table) {
            var rowHtml = '';
            var provideName = table.replaceFirstUP();

            rowHtml += '<tr><td class="lable">Create BO:</td><td class="lable">public class</td><td>' +
                    '<input id="privideBO" type="text" name="provideBO" class="big_200" value="' + provideName + 'BO"></td>';

            rowHtml += '<td class="lable">Create O:</td><td class="lable">public class</td><td>' +
                    '<input id="privideO" type="text" name="provideO" class="big_200" value="' + provideName + '"></td></tr>';

            rowHtml += '<tr><td class="lable">Create Provide:</td><td class="lable">public interface</td><td>' +
                    '<input id="privideProvide" type="text" name="provideProvide" class="big_200" value="I' + provideName + 'Provide"></td></tr>';

            rowHtml += '<tr><td class="lable"></td><td></td></tr>'

            return rowHtml;
        },
        row1: function (column) {
            var rowHtml = '';
            var field = column.field;
            var type = column.type;
            var field_ = this.toField(field);
            var type_ = this.toType(type);
            var show = 'private ' + type_ + ' ' + field_ + ";";

            rowHtml += '<td><input id="tableColumns_' + field + '" type="text" name="tableColumns" class="big_200" value="' + field + '" readonly="true" /></td>';
            rowHtml += '<td>' + type + '</td>';
            rowHtml += '<td><input id="provideField_' + field + '" type="text" name="provideFields" class="big_200" value="' + field_ + '" onkeyup="provide.show1(\'' + field + '\')" onafterpaste="provide.show1(\'' + field + '\')" onblur="provide.show1(\'' + field + '\')" /></td>';
            rowHtml += '<td><input id="provideType_' + field + '" type="text" name="provideTypes" class="big_200" value="' + type_ + '" onkeyup="provide.show1(\'' + field + '\')" onafterpaste="provide.show1(\'' + field + '\')" onblur="provide.show1(\'' + field + '\')" /></td>';
            rowHtml += '<td><span id="provideText_' + field + '">' + show + '</span></td>';

            return rowHtml;
        },
        // show: function (table) {
        //     var provideName = document.getElementById('provideName_' + table).value;
        //     // var provideBase = "EntityBO";
        //
        //     var show = 'public class ' + provideName + ' extends ' + provideBase;
        //     jQuery('#provideText_' + table).html(show);
        // },
        show1: function (suffix) {
            var field_ = document.getElementById('provideField_' + suffix).value;
            var type_ = document.getElementById('provideType_' + suffix).value;
            var show1 = 'private ' + type_ + ' ' + field_ + ";";
            jQuery('#provideText_' + suffix).html(show1);
        },
        toField: function (input) {
            var prefix = table.colPrefix().val();
            var ps = prefix.split(',');
            if(ps != null && ps.length > 0) {
                for (idx in ps) {
                    if(!ps[idx])
                        continue;
                    input = input.replace(ps[idx],'');
                }
            }
            // if (input.indexOf('_') != -1)
            //     return input.substring(input.indexOf('_') + 1).replaceFirstUP().replaceFirstLow();
            // return input.replaceFirstUP();
            return input.replaceFirstUP().replaceFirstLow();
        },
        toType: function (input) {
            if (input.startWith('bigint'))
                return "long";
            else if (input.startWith('int'))
                return "int";
            else if (input.startWith('tinyint'))
                return "int";
            else if (input.startWith('float'))
                return "float";
            else if (input.startWith('decimal'))
                return "BigDecimal";
            else if (input.startWith('varchar') || input.startWith('text'))
                return "String";
            else if (input.startWith('datetime') || input.startWith('date') || input.startWith('timestamp'))
                return "Date";
            else if (input.startWith('blob'))
                return "byte[]"
            else
                return input;
        }
    };
</script>
<script type="text/javascript">
    var dao = {
        // projectTr: function () {
        //     return jQuery('#daoProjectTr');
        // },
        projectDiv: function () {
            return jQuery('#config_dao_div');
        },
        // projectName: function () {
        //     return jQuery('input[name="daoProjectName"]');
        // },
        poPackage: function () {
            return jQuery('input[name="daoPOPackage"]');
        },
        mapperPackage: function () {
            return jQuery('input[name="daoMapperPackage"]');
        },
        jpaPackage: function () {
            return jQuery('input[name="daoJpaPackage"]');
        },
        daoPackage: function () {
            return jQuery('input[name="daoDaoPackage"]');
        },
        projectInit: function () {
            this.loadPackage();
            this.config()
        },
        // projectClear: function () {
        //     this.projectName().val('');
        //     this.projectPackage().val('');
        //     this.projectTr().css('display', 'none');
        //     this.projectDiv().html('');
        // },
        loadPackage: function() {
            var tablePack = table.tablePack().val();

            // project pakcage value
            var pValue = project.pPackage().val() || '';

            var poValue = pValue + '.data.po' + (tablePack ? "." + tablePack : "");
            if(poValue.indexOf(".") === 0 && poValue.length > 1)
                poValue = poValue.substring(1);

            var mapperValue = pValue + '.data.mapper' + (tablePack ? "." + tablePack : "");
            if(mapperValue.indexOf(".") === 0 && mapperValue.length > 1)
                mapperValue = mapperValue.substring(1);

            var jpaValue = pValue + '.data.jpa' + (tablePack ? "." + tablePack : "");
            if(jpaValue.indexOf(".") === 0 && jpaValue.length > 1)
                jpaValue = jpaValue.substring(1);

            var daoValue = pValue + '.dao' + (tablePack ? "." + tablePack : "");
            if(daoValue.indexOf(".") === 0 && daoValue.length > 1)
                daoValue = daoValue.substring(1);

            // set value
            this.poPackage().val(poValue);
            this.mapperPackage().val(mapperValue);
            this.jpaPackage().val(jpaValue);
            this.daoPackage().val(daoValue);
        },
        // projectFill: function () {
        //     var pNameValue = project.pName().val();
        //     var pTypeValue = project.pType().filter(':checked').val();
        //     var pPackageValue = project.pPackage().val();
        //
        //     var tableName = table.tableName().val();
        //     if (!tableName)
        //         return;
        //
        //     this.projectName().val(pTypeValue == 0 ? '' : pNameValue + '-dao');
        //     this.projectPackage().val(pPackageValue + '.dao.' + tableName);
        //     this.projectTr().css('display', '');
        //
        //     this.config(tableName);
        // },
        config: function () {
            var tableName = table.tableName().val();
            if (!tableName)
                return;

            var daoHtml = '<hr />';
            daoHtml += '<table border="0" cellpadding="0" cellspacing="0">';
            daoHtml +=  this.row(tableName)
            daoHtml += '</table>';
            jQuery('#config_dao_div').html(daoHtml);
        },
        row: function (table) {
            var rowHtml = '';
            var daoName = table.replaceFirstUP();

            // var interface = table.replaceFirstUP() + 'Mapper';
            // var extendsInterface = "MapperInterface";
            // var show = 'public interface ' + interface + ' extends ' + extendsInterface;
            var show = '';

            // rowHtml += '<td>' + table + '</td>';
            // rowHtml += '<td><input id="daoInterface_' + table + '" type="text" name="daoInterface" class="big_200" value="' + interface + '" onkeyup="dao.show(\'' + table + '\')" onafterpaste="dao.show(\'' + table + '\')" onblur="dao.show(\'' + table + '\')" /></td>';
            // rowHtml += '<td><span id="daoText_' + table + '">' + show + '</span></td>';

            rowHtml += '<tr><td class="lable">Create PO:</td><td class="lable">public class</td><td>' +
                '<input id="daoPO" type="text" name="daoPO" class="big_200" value="' + daoName + 'PO"/></td>';

            rowHtml += '<td class="lable">Create Mapper:</td><td class="lable">public interface</td><td>' +
                '<input id="daoMapper" type="text" name="daoMapper" class="big_200" value="I' + daoName + 'Mapper"/></td></tr>';

            rowHtml += '<tr><td class="lable">Create Jpa:</td><td class="lable">public interface</td><td>' +
                '<input id="daoJpa" type="text" name="daoJpa" class="big_200" value="I' + daoName + 'Jpa"/></td>';

            rowHtml += '<td class="lable">Create IDAO:</td><td class="lable">public interface</td><td>' +
                '<input id="daoDAO" type="text" name="daoDAO" class="big_200" value="I' + daoName + 'DAO"/></td></tr>';

            rowHtml += '<tr><td class="lable">Create IDAO impl:</td><td class="lable">public class</td><td>' +
                '<input id="daoDAOImpl" type="text" name="daoDAOImpl" class="big_200" value="' + daoName + 'DAO"/></td>';

            rowHtml += '<tr><td class="lable"></td><td></td></tr>'

            return rowHtml;
        },
        // show: function (table) {
        //     var interface = document.getElementById('daoInterface_' + table).value;
        //     var extendsInterface = "MapperInterface";
        //     var show = 'public interface ' + interface + ' extends ' + extendsInterface;
        //     jQuery('#daoText_' + table).html(show);
        // }
    };
</script>
<script type="text/javascript">
    //	var manager = {
    //		projectTr: function() {
    //			return jQuery('#managerProjectTr');
    //		},
    //		projectDiv: function() {
    //			return jQuery('#config_manager_div');
    //		},
    //		projectName: function() {
    //			return jQuery('input[name="managerProjectName"]');
    //		},
    //		projectPackage: function() {
    //			return jQuery('input[name="managerProjectPackage"]');
    //		},
    //		projectFill: function() {
    //			var pNameValue = project.pName().val();
    //			var pTypeValue = project.pType().filter(':checked').val();
    // 		var pPackageValue = project.pPackage().val();

    //			this.projectName().val(pTypeValue == 0 ? '' : pNameValue + '-manager');
    //			this.projectPackage().val(pPackageValue + '.manager');
    //			this.projectTr().css('display','');

    //			var tableName = table.tableName().val();
    //			if(!tableName)
    //				return;
    //			this.config(tableName);
    //		},
    //		projectClear: function() {
    //			this.projectName().val('');
    //			this.projectPackage().val('');
    //			this.projectTr().css('display','none');
    //			this.projectDiv().html('');
    //		},
    //		config: function(table) {
    //			var managerHtml = '<table border="0" cellpadding="0" cellspacing="0">';
    //			managerHtml += '<tr>' + manager.row(table) + '</tr>';
    //			managerHtml += '<tr>' + manager.row1(table) + '</tr>';
    //			managerHtml += '</table>';
    // 		jQuery('#config_manager_div').html(managerHtml);
    //		},
    //		row: function(table) {
    //			var rowHtml = '';

    //			var interface = table.replaceFirstUP() + 'Manager';
    //			var extendsInterface = "ManagerInterface";
    //			var show = 'public interface ' + interface + ' extends ' + extendsInterface;

    //			rowHtml += '<td>' + table + '</td>';
    //			rowHtml += '<td><input id="managerInterface_'+ table +'" type="text" name="managerInterface" value="'+ interface +'" class="big_200" onkeyup="manager.show(\''+ table +'\')" onafterpaste="manager.show(\''+ table +'\')" onblur="manager.show(\''+ table +'\')" /></td>';
    //			rowHtml += '<td><span id="managerText_'+ table +'">'+ show +'</span></td>';
    //			return rowHtml;
    //		},
    //		row1: function(table) {
    //			var rowHtml = '';

    //			var implement = table.replaceFirstUP() + 'ManagerImpl';
    //			var interface = table.replaceFirstUP() + 'Manager';
    //			var extendsSupport = "ManagerSupport";
    //			var show = 'public class ' + implement + ' extends ' + extendsSupport + ' implements ' + interface;

    //			rowHtml += '<td>' + table + '</td>';
    //			rowHtml += '<td><input id="managerImplement_'+ table +'" type="text" name="managerImplement" value="'+ implement +'" class="big_200" onkeyup="manager.show1(\''+ table +'\')" onafterpaste="manager.show1(\''+ table +'\')" onblur="manager.show1(\''+ table +'\')" /></td>';
    //			rowHtml += '<td><span id="managerText1_'+ table +'">'+ show +'</span></td>';
    //			return rowHtml;
    //		},
    //		show: function(table) {
    //			var interface = document.getElementById('managerInterface_'+table).value;
    //			var extendsInterface = "ManagerInterface";
    //			var show = 'public interface ' + interface + ' extends ' + extendsInterface;
    //			jQuery('#managerText_'+table).html(show);

    //			this.show1(table)
    //		},
    //		show1: function(table) {
    //			var implement = document.getElementById('managerImplement_'+table).value;
    //			var interface = document.getElementById('managerInterface_'+table).value;
    //			var extendsSupport = "ManagerSupport";
    //			var extendsInterface = "ManagerInterface";
    //			var show = 'public class ' + implement + ' extends ' + extendsSupport + ' implements ' + interface;
    //			jQuery('#managerText1_'+table).html(show);
    //		}
    //	};
</script>
<script type="text/javascript">
    var service = {
        projectTr: function () {
            return jQuery('#serviceProjectTr');
        },
        projectDiv: function () {
            return jQuery('#config_service_div');
        },
        projectName: function () {
            return jQuery('input[name="serviceProjectName"]');
        },
        projectPackage: function () {
            return jQuery('input[name="serviceProjectPackage"]');
        },
        projectFill: function () {
            var pNameValue = project.pName().val();
            var pTypeValue = project.pType().filter(':checked').val();
            var pPackageValue = project.pPackage().val();

            var tableName = table.tableName().val();
            if (!tableName)
                return;

            this.projectName().val(pTypeValue == 0 ? '' : pNameValue + '-service');
            this.projectPackage().val(pPackageValue + '.service.' + tableName);
            this.projectTr().css('display', '');

            this.config(tableName);
        },
        projectClear: function () {
            this.projectName().val('');
            this.projectPackage().val('');
            this.projectTr().css('display', 'none');
            this.projectDiv().html('');
        },
        config: function (table) {
            var serviceHtml = '<table border="0" cellpadding="0" cellspacing="0">';
            serviceHtml += '<tr>' + service.row(table) + '</tr>';
            serviceHtml += '<tr>' + service.row1(table) + '</tr>';
            serviceHtml += '</table>';
            jQuery('#config_service_div').html(serviceHtml);
        },
        row: function (table) {
            var rowHtml = '';

            var interface = table.replaceFirstUP() + 'Service';
            var extendsInterface = "ServiceInterface";
            var show = 'public interface ' + interface + ' extends ' + extendsInterface;

            rowHtml += '<td>' + table + '</td>';
            rowHtml += '<td><input id="serviceInterface_' + table + '" type="text" name="serviceInterface" value="' + interface + '" class="big_200" onkeyup="service.show(\'' + table + '\')" onafterpaste="service.show(\'' + table + '\')" onblur="service.show(\'' + table + '\')" /></td>';
            rowHtml += '<td><span id="serviceText_' + table + '">' + show + '</span></td>';
            return rowHtml;
        },
        row1: function (table) {
            var rowHtml = '';

            var implement = table.replaceFirstUP() + 'ServiceImpl';
            var interface = table.replaceFirstUP() + 'Service';
            var extendsSupport = "ServiceSupport";
            var show = 'public class ' + implement + ' extends ' + extendsSupport + ' implements ' + interface;

            rowHtml += '<td>' + table + '</td>';
            rowHtml += '<td><input id="serviceImplement_' + table + '" type="text" name="serviceImplement" value="' + implement + '" class="big_200" onkeyup="service.show1(\'' + table + '\')" onafterpaste="service.show1(\'' + table + '\')" onblur="service.show1(\'' + table + '\')" /></td>';
            rowHtml += '<td><span id="serviceText1_' + table + '">' + show + '</span></td>';
            return rowHtml;
        },
        show: function (table) {
            var interface = document.getElementById('serviceInterface_' + table).value;
            var extendsInterface = "ServiceInterface";
            var show = 'public interface ' + interface + ' extends ' + extendsInterface;
            jQuery('#serviceText_' + table).html(show);

            this.show1(table)
        },
        show1: function (table) {
            var implement = document.getElementById('serviceImplement_' + table).value;
            var interface = document.getElementById('serviceInterface_' + table).value;
            var extendsSupport = "ServiceSupport";
            var extendsInterface = "ServiceInterface";
            var show = 'public class ' + implement + ' extends ' + extendsSupport + ' implements ' + interface;
            jQuery('#serviceText1_' + table).html(show);
        }
    };

</script>
<script type="text/javascript">
    var generate = function () {
        $('#generate_form').form('nqcxSubmit', {
            url: "[(@{'/generate/doit'})]",
            onSubmit: function () {
                if(button.checkProjectName())
                    return $(this).form('validate');
                return false;
            },
            addDatas: {
                tableName: table.tableName().val(),
                tablePack: table.tablePack().val(),
                wsPath: ws.wsPath().val(),
                pName: project.pName().val(),
                pPath: project.pPath().val(),
                pPackage: project.pPackage().val(),
                pType: project.pType().filter(':checked').val(),
                provideModule: project.module.provide().val(),
                daoModule: project.module.dao().val(),
                serviceModule: project.module.service().val(),
                webModule: project.module.web().val()
            },
            success: function (result) {
                if (result.success) {
                    jQuery.messager.show({
                        title: 'Success',
                        msg: '保存成功'
                    });
                } else {
                    jQuery.messager.show({
                        title: 'Error',
                        msg: result.errorText
                    });
                }
            }
        });
    };

    jQuery('#generate_btn').unbind('click').click(function () {
        generate();
    });
</script>
<script type="text/javascript">
    project.module.change = function () {
        provide.loadPackage();
        dao.loadPackage();

        // if (button.provideConfig().attr('data-value') == 1)
        //     provide.projectFill();
        // if (button.daoConfig().attr('data-value') == 1)
        //     dao.projectFill();
        // if (button.serviceConfig().attr('data-value') == 1)
        //     service.projectFill();
    };

    $(document).ready(function () {
        button.reloadAll().unbind('click').click(function () {
            table.change();
        });

        // button.provideConfig().click(function () {
        //     button.provideConfigValueAlternation();
        // });
        // button.daoConfig().click(function () {
        //     button.daoConfigValueAlternation();
        // });
        // button.serviceConfig().click(function () {
        //     button.serviceConfigValueAlternation();
        // });
        tableInfo.getInfo(table.tableName().val());

        provide.projectInit();
        dao.projectInit();
        console.log("Center loaded.")
    });
</script>
