<form id="generate_form" method="post" action="" xmlns:th="http://www.thymeleaf.org">
    <fieldset>
        <legend>
            <span style="font-weight: 700;">Table -> POJO</span>
        </legend>
        <table border="1" style="border-color: #6a6a6a;" cellpadding="0" cellspacing="0">
            <thead>
            <tr>
                <th>field</th>
                <th>type</th>
                <th>collation</th>
                <th>isNull</th>
                <th>key</th>
                <th>defaultValue</th>
                <th>extra</th>
                <th>privileges</th>
                <th>comment</th>
            </tr>
            </thead>
            <tbody id="tableInfo">
            <tr th:each="c : ${table?.columns}">
                <td th:text="${c.field}"></td>
                <td th:text="${c.type}"></td>
                <td th:text="${c.collation}"></td>
                <td th:text="${c.isNull}"></td>
                <td th:text="${c.key}"></td>
                <td th:text="${c.defaultValue}"></td>
                <td th:text="${c.extra}"></td>
                <td th:text="${c.privileges}"></td>
                <td th:text="${c.comment}"></td>
            </tr>
            </tbody>
        </table>
        <div id="config_pojo_div"></div>
    </fieldset>
    <br/> <br/>
    <fieldset>
        <legend>
            <span style="font-weight: 700;"><input type="checkbox" name="provide_" value="true">Module -> Provide</span>
        </legend>
        <table border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td class="lable"><input type="checkbox" name="provideO_" value="true"></td>
                <td class="lable">Create O:</td>
                <td>
                    <input type="text" name="provideOPackage" class="big_240 right" value="">
                </td>
                <td class="lable">.</td>
                <td>
                    <input type="text" name="provideO" class="big_200" value="">
                </td>
            </tr>
            <tr>
                <td class="lable"><input type="checkbox" name="provideProvide_" value="true"></td>
                <td class="lable">Create Provide:</td>
                <td>
                    <input type="text" name="provideProvidePackage" class="big_240 right" value="">
                </td>
                <td class="lable">.</td>
                <td>
                    <input type="text" name="provideProvide" class="big_200" value="">
                </td>
            </tr>
        </table>
    </fieldset>
    <br/> <br/>
    <fieldset>
        <legend>
            <span style="font-weight: 700;"><input type="checkbox" name="dao_" value="true">Module -> Dao</span>
        </legend>
        <table border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td class="lable"><input type="checkbox" name="daoPO_" value="true"></td>
                <td class="lable">Create PO:</td>
                <td>
                    <input type="text" name="daoPOPackage" class="big_240 right" value="">
                </td>
                <td class="lable">.</td>
                <td>
                    <input type="text" name="daoPO" class="big_200" value="">
                </td>
            </tr>
            <tr>
                <td class="lable"><input type="checkbox" name="daoMapper_" value="true"></td>
                <td class="lable">Create Mapper:</td>
                <td>
                    <input type="text" name="daoMapperPackage" class="big_240 right" value="">
                </td>
                <td class="lable">.</td>
                <td>
                    <input type="text" name="daoMapper" class="big_200" value="">
                </td>
            </tr>
            <tr>
                <td class="lable"><input type="checkbox" name="daoJpa_" value="true"></td>
                <td class="lable">Create Jpa:</td>
                <td>
                    <input type="text" name="daoJpaPackage" class="big_240 right" value="">
                </td>
                <td class="lable">.</td>
                <td>
                    <input type="text" name="daoJpa" class="big_200" value="">
                </td>
            </tr>
            <tr>
                <td class="lable"><input type="checkbox" name="daoDAO_" value="true"></td>
                <td class="lable">Create DAO:</td>
                <td>
                    <input type="text" name="daoDAOPackage" class="big_240 right" value="">
                </td>
                <td class="lable">.</td>
                <td>
                    <input type="text" name="daoDAO" class="big_200" value="">
                </td>
            </tr>
            <tr>
                <td class="lable"><input type="checkbox" name="daoDAOImpl_" value="true"></td>
                <td class="lable">Create DAOImpl:</td>
                <td>
                    <input type="text" name="daoDAOImplPackage" class="big_240 right" value="">
                </td>
                <td class="lable">.</td>
                <td>
                    <input type="text" name="daoDAOImpl" class="big_200" value="">
                </td>
            </tr>
            <tr>
                <td class="lable"><input type="checkbox" name="daoDAOTest_" value="true"></td>
                <td class="lable">Create DAOTest:</td>
                <td>
                    <input type="text" name="daoDAOTestPackage" class="big_240 right" value="">
                </td>
                <td class="lable">.</td>
                <td>
                    <input type="text" name="daoDAOTest" class="big_200" value="">
                </td>
            </tr>
        </table>
    </fieldset>
    <br/> <br/>
    <fieldset>
        <legend>
            <span style="font-weight: 700;"><input type="checkbox" name="service_" value="true">Module -> Service</span>
        </legend>
        <table border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td class="lable"><input type="checkbox" name="serviceDO_" value="true"></td>
                <td class="lable">Create DO:</td>
                <td>
                    <input type="text" name="serviceDOPackage" class="big_240 right" value="">
                </td>
                <td class="lable">.</td>
                <td>
                    <input type="text" name="serviceDO" class="big_200" value="">
                </td>
            </tr>
            <tr>
                <td class="lable"><input type="checkbox" name="serviceService_" value="true"></td>
                <td class="lable">Create Service:</td>
                <td>
                    <input type="text" name="serviceServicePackage" class="big_240 right" value="">
                </td>
                <td class="lable">.</td>
                <td>
                    <input type="text" name="serviceService" class="big_200" value="">
                </td>
            </tr>
            <tr>
                <td class="lable"><input type="checkbox" name="serviceServiceImpl_" value="true"></td>
                <td class="lable">Create ServiceImpl:</td>
                <td>
                    <input type="text" name="serviceServiceImplPackage" class="big_240 right" value="">
                </td>
                <td class="lable">.</td>
                <td>
                    <input type="text" name="serviceServiceImpl" class="big_200" value="">
                </td>
            </tr>
            <tr>
                <td class="lable"><input type="checkbox" name="serviceServiceTest_" value="true"></td>
                <td class="lable">Create ServiceTest:</td>
                <td>
                    <input type="text" name="serviceServiceTestPackage" class="big_240 right" value="">
                </td>
                <td class="lable">.</td>
                <td>
                    <input type="text" name="serviceServiceTest" class="big_200" value="">
                </td>
            </tr>
        </table>
    </fieldset>
    <br/> <br/>
    <fieldset>
        <legend>
            <span style="font-weight: 700;"><input type="checkbox" name="web_" value="true">Module -> Web:</span>
        </legend>
        <table border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td class="lable"><input type="checkbox" name="webVO_" value="true"></td>
                <td class="lable">Create VO:</td>
                <td>
                    <input type="text" name="webVOPackage" class="big_240 right" value="">
                </td>
                <td class="lable">.</td>
                <td>
                    <input type="text" name="webVO" class="big_200" value="">
                </td>
            </tr>
            <tr>
                <td class="lable"><input type="checkbox" name="webController_" value="true"></td>
                <td class="lable">Create Controller:</td>
                <td>
                    <input type="text" name="webControllerPackage" class="big_240 right" value="">
                </td>
                <td class="lable">.</td>
                <td>
                    <input type="text" name="webController" class="big_200" value="">
                </td>
            </tr>
        </table>
    </fieldset>
    <br/>
    <input id="generate_btn" type="button" value="Generate Code"
           style="width: 150px; height: 32px; background-color: orange;"/>
</form>

<script type="text/javascript">
    var button = {
        loadCenter: function () {
            return jQuery('#loadCenter');
        },
        checkForm: function () {
            if (!ws.wsPathExists || !ws.wsPath().val()) {
                jQuery.messager.show({
                    title: 'Error',
                    msg: 'WS not exists.'
                });
                return false;
            } else if (!ws.author().val()) {
                jQuery.messager.show({
                    title: 'Error',
                    msg: 'Please input author.'
                });
                return false;
            } else if (!project.pName().val()) {
                jQuery.messager.show({
                    title: 'Error',
                    msg: 'Please select project.'
                });
                return false;
            } else if (!provide._().is(":checked")
                && !dao._().is(":checked")
                && !service._().is(":checked")
                && !web._().is(":checked")) {
                jQuery.messager.show({
                    title: 'Error',
                    msg: 'Please select modules.'
                });
                return false;
            }
            return true;
        }
    };
</script>
<script type="text/javascript">
    var tableInfo = {
        projectDiv: function () {
            return jQuery('#config_pojo_div');
        },
        info: function () {
            return jQuery('tbody#tableInfo');
        },
        addInfo: function (columns) {
            if (!columns && columns.length === 0)
                return;
            this.info().html('');

            for (var idx in columns) {
                var colstr = '<tr>';
                colstr += '<td>' + columns[idx].field + '</td>';
                colstr += '<td>' + columns[idx].type + '</td>';
                colstr += '<td>' + columns[idx].collation + '</td>';
                colstr += '<td>' + columns[idx].isNull + '</td>';
                colstr += '<td>' + columns[idx].key + '</td>';
                colstr += '<td>' + columns[idx].defaultValue + '</td>';
                colstr += '<td>' + columns[idx].extra + '</td>';
                colstr += '<td>' + columns[idx].privileges + '</td>';
                colstr += '<td>' + columns[idx].comment + '</td>';
                colstr += '</tr>';

                this.info().append(colstr);
            }
        },
        projectInit: function () {
            this.loadTable()
        },
        loadTable: function () {
            var tableName = table.tableName().val();
            if (!tableName)
                return;

            var columns = [];
            nqcxGet("[(@{'/table/get/'})]" + tableName, {}, function (result) {
                if (result.object && result.object.columns) {
                    columns = result.object.columns;
                }
                tableInfo.addInfo(columns);
                tableInfo.config(columns);
            });
        },
        config: function (columns) {
            var tableName = table.tableName().val();
            if (!tableName)
                return;

            var tableHtml = '<hr />';
            tableHtml += '<table border="0" cellpadding="0" cellspacing="0">';
            for (idx in columns) {
                tableHtml += '<tr>' + this.row1(columns[idx]) + '</tr>';
            }
            tableHtml += '</table>';
            this.projectDiv().html(tableHtml);
        },
        row1: function (column) {
            var rowHtml = '';
            var field = column.field;
            var type = column.type;
            var field_ = this.toField(field);
            var type_ = this.toType(type);
            var show = 'private ' + type_ + ' ' + field_ + ";";

            rowHtml += '<td><input id="pojoColumn_' + field + '" type="text" name="pojoColumn" class="big_200" value="' + field + '" readonly="true" /></td>';
            rowHtml += '<td>' + type + '</td>';
            rowHtml += '<td><input id="pojoField_' + field + '" type="text" name="pojoField" class="big_200" value="' + field_ + '" onkeyup="tableInfo.show1(\'' + field + '\')" onafterpaste="tableInfo.show1(\'' + field + '\')" onblur="tableInfo.show1(\'' + field + '\')" /></td>';
            rowHtml += '<td><input id="pojoType_' + field + '" type="text" name="pojoType" class="big" value="' + type_ + '" onkeyup="tableInfo.show1(\'' + field + '\')" onafterpaste="tableInfo.show1(\'' + field + '\')" onblur="tableInfo.show1(\'' + field + '\')" /></td>';
            rowHtml += '<td><span id="jojoText_' + field + '">' + show + '</span></td>';

            return rowHtml;
        },
        show1: function (suffix) {
            var field_ = document.getElementById('pojoField_' + suffix).value;
            var type_ = document.getElementById('pojoType_' + suffix).value;
            var show1 = 'private ' + type_ + ' ' + field_ + ";";
            jQuery('#jojoText_' + suffix).html(show1);
        },
        toField: function (input) {
            var prefix = table.colPrefix().val();
            var ps = prefix.split(',');
            if (ps != null && ps.length > 0) {
                for (var idx in ps) {
                    if (!ps[idx])
                        continue;
                    input = input.replace(ps[idx], '');
                }
            }
            return input.replaceFirstUP().replaceFirstLow();
        },
        toType: function (input) {
            if (input.startWith('bigint'))
                return "long";
            else if (input.startWith('int'))
                return "int";
            else if (input.startWith('tinyint'))
                return "int";
            else if (input.startWith('float'))
                return "float";
            else if (input.startWith('decimal'))
                return "BigDecimal";
            else if (input.startWith('varchar') || input.startWith('text'))
                return "String";
            else if (input.startWith('datetime') || input.startWith('date') || input.startWith('timestamp'))
                return "Date";
            else if (input.startWith('blob'))
                return "byte[]"
            else
                return input;
        }
    };
</script>
<script type="text/javascript">
    var provide = {
        _: function () {
            return jQuery('input[name="provide_"]');
        },
        provideOPackage: function () {
            return $('input[name="provideOPackage"]');
        },
        provideO: function () {
            return $('input[name="provideO"]');
        },
        provideProvidePackage: function () {
            return $('input[name="provideProvidePackage"]');
        },
        provideProvide: function () {
            return $('input[name="provideProvide"]');
        },
        projectInit: function () {
            this.loadPackage();
        },
        loadPackage: function () {
            // project package value
            var pValue = project.pPackage().val() || '';

            var tablePack = table.tablePack().val();

            var tableName = table.tableName().val();
            if (!tableName)
                return;

            var provideName = tableName.replaceFirstUP();
            var provideO = provideName;
            var provideProvide = 'I' + provideName + 'Provide';

            var poValue = pValue + '.data.o' + (tablePack ? "." + tablePack : "");
            if (poValue.indexOf(".") === 0 && poValue.length > 1)
                poValue = poValue.substring(1);

            var ppValue = pValue + '.provide' + (tablePack ? "." + tablePack : "");
            if (ppValue.indexOf(".") === 0 && ppValue.length > 1)
                ppValue = ppValue.substring(1);

            // set value
            this.provideOPackage().val(poValue);
            this.provideO().val(provideO);

            this.provideProvidePackage().val(ppValue);
            this.provideProvide().val(provideProvide);
        }
    };
</script>
<script type="text/javascript">
    var dao = {
        _: function () {
            return jQuery('input[name="dao_"]');
        },
        poPackage: function () {
            return jQuery('input[name="daoPOPackage"]');
        },
        po: function () {
            return jQuery('input[name="daoPO"]');
        },
        mapperPackage: function () {
            return jQuery('input[name="daoMapperPackage"]');
        },
        mapper: function () {
            return jQuery('input[name="daoMapper"]');
        },
        jpaPackage: function () {
            return jQuery('input[name="daoJpaPackage"]');
        },
        jpa: function () {
            return jQuery('input[name="daoJpa"]');
        },
        daoPackage: function () {
            return jQuery('input[name="daoDAOPackage"]');
        },
        dao: function () {
            return jQuery('input[name="daoDAO"]');
        },
        daoImplPackage: function () {
            return jQuery('input[name="daoDAOImplPackage"]');
        },
        daoImpl: function () {
            return jQuery('input[name="daoDAOImpl"]');
        },
        testPackage: function () {
            return jQuery('input[name="daoDAOTestPackage"]');
        },
        test: function () {
            return jQuery('input[name="daoDAOTest"]');
        },
        projectInit: function () {
            this.loadPackage();
        },
        loadPackage: function () {
            // project pakcage value
            var pValue = project.pPackage().val() || '';

            var tablePack = table.tablePack().val();

            var tableName = table.tableName().val();
            if (!tableName)
                return;

            var daoName = tableName.replaceFirstUP();
            var daoPO = daoName + "PO";
            var daoMapper = 'I' + daoName + 'Mapper';
            var daoJpa = 'I' + daoName + 'Jpa';
            var daoDao = 'I' + daoName + 'DAO';
            var daoDaoImpl = daoName + 'DAO';
            var daoTest = daoDaoImpl + 'Test';

            var poValue = pValue + '.data.po' + (tablePack ? "." + tablePack : "");
            if (poValue.indexOf(".") === 0 && poValue.length > 1)
                poValue = poValue.substring(1);

            var mapperValue = pValue + '.data.mapper' + (tablePack ? "." + tablePack : "");
            if (mapperValue.indexOf(".") === 0 && mapperValue.length > 1)
                mapperValue = mapperValue.substring(1);

            var jpaValue = pValue + '.data.jpa' + (tablePack ? "." + tablePack : "");
            if (jpaValue.indexOf(".") === 0 && jpaValue.length > 1)
                jpaValue = jpaValue.substring(1);

            var daoValue = pValue + '.dao' + (tablePack ? "." + tablePack : "");
            if (daoValue.indexOf(".") === 0 && daoValue.length > 1)
                daoValue = daoValue.substring(1);

            var daoImplValue = daoValue + '.impl';
            if (daoImplValue.indexOf(".") === 0 && daoImplValue.length > 1)
                daoImplValue = daoImplValue.substring(1);

            var testValue = pValue + '.dao' + (tablePack ? "." + tablePack : "");
            if (testValue.indexOf(".") === 0 && testValue.length > 1)
                testValue = testValue.substring(1);

            // set value
            this.poPackage().val(poValue);
            this.po().val(daoPO);
            this.mapperPackage().val(mapperValue);
            this.mapper().val(daoMapper);
            this.jpaPackage().val(jpaValue);
            this.jpa().val(daoJpa);
            this.daoPackage().val(daoValue);
            this.dao().val(daoDao);
            this.daoImplPackage().val(daoImplValue);
            this.daoImpl().val(daoDaoImpl);
            this.testPackage().val(testValue);
            this.test().val(daoTest);
        }
    };
</script>
<script type="text/javascript">
    var service = {
        _: function () {
            return jQuery('input[name="service_"]');
        },
        serviceDOPackage: function () {
            return jQuery('input[name="serviceDOPackage"]');
        },
        serviceDO: function () {
            return jQuery('input[name="serviceDO"]');
        },
        serviceServicePackage: function () {
            return jQuery('input[name="serviceServicePackage"]');
        },
        serviceService: function () {
            return jQuery('input[name="serviceService"]');
        },
        serviceImplPackage: function () {
            return jQuery('input[name="serviceServiceImplPackage"]');
        },
        serviceImpl: function () {
            return jQuery('input[name="serviceServiceImpl"]');
        },
        serviceTestPackage: function () {
            return jQuery('input[name="serviceServiceTestPackage"]');
        },
        serviceTest: function () {
            return jQuery('input[name="serviceServiceTest"]');
        },
        projectInit: function () {
            this.loadPackage();
        },
        loadPackage: function () {
            // project pakcage value
            var pValue = project.pPackage().val() || '';

            var tablePack = table.tablePack().val();

            var tableName = table.tableName().val();
            if (!tableName)
                return;

            var serviceName = tableName.replaceFirstUP();
            var serviceDO = serviceName + "DO";
            var serviceService = 'I' + serviceName + "Service";
            var serviceServiceImpl = serviceName + "Service"
            var serviceServiceTest = serviceServiceImpl + "Test"

            var sdValue = pValue + '.data.do_' + (tablePack ? "." + tablePack : "");
            if (sdValue.indexOf(".") === 0 && sdValue.length > 1)
                sdValue = sdValue.substring(1);

            var ssValue = pValue + '.service' + (tablePack ? "." + tablePack : "");
            if (ssValue.indexOf(".") === 0 && ssValue.length > 1)
                ssValue = ssValue.substring(1);

            var ssiValue = ssValue + '.impl';
            if (ssiValue.indexOf(".") === 0 && ssiValue.length > 1)
                ssiValue = ssiValue.substring(1);

            var sstValue = pValue + '.service' + (tablePack ? "." + tablePack : "");
            if (sstValue.indexOf(".") === 0 && sstValue.length > 1)
                sstValue = sstValue.substring(1);

            // set value
            this.serviceDOPackage().val(sdValue);
            this.serviceDO().val(serviceDO);
            this.serviceServicePackage().val(ssValue);
            this.serviceService().val(serviceService);
            this.serviceImplPackage().val(ssiValue);
            this.serviceImpl().val(serviceServiceImpl);
            this.serviceTestPackage().val(sstValue);
            this.serviceTest().val(serviceServiceTest);
        }
    };

</script>
<script type="text/javascript">
    var web = {
        _: function () {
            return jQuery('input[name="web_"]');
        },
        webVOPackage: function () {
            return jQuery('input[name="webVOPackage"]');
        },
        webVO: function () {
            return jQuery('input[name="webVO"]');
        },
        webControllerPackage: function () {
            return jQuery('input[name="webControllerPackage"]');
        },
        webController: function () {
            return jQuery('input[name="webController"]');
        },
        projectInit: function () {
            this.loadPackage();
        },
        loadPackage: function () {
            // project pakcage value
            var pValue = project.pPackage().val() || '';

            var tablePack = table.tablePack().val();

            var tableName = table.tableName().val();
            if (!tableName)
                return;

            var webName = tableName.replaceFirstUP();
            var webVO = webName + "VO";
            var webController = webName + "Controller";

            var wvValue = pValue + '.data.vo' + (tablePack ? "." + tablePack : "");
            if (wvValue.indexOf(".") === 0 && wvValue.length > 1)
                wvValue = wvValue.substring(1);

            var wcValue = pValue + '.web.controller' + (tablePack ? "." + tablePack : "");
            if (wcValue.indexOf(".") === 0 && wcValue.length > 1)
                wcValue = wcValue.substring(1);

            // set value
            this.webVOPackage().val(wvValue);
            this.webVO().val(webVO);
            this.webControllerPackage().val(wcValue);
            this.webController().val(webController);
        }
    };
</script>
<script type="text/javascript">
    var generate = function () {
        $('#generate_form').form('nqcxSubmit', {
            url: "[(@{'/generate/doit'})]",
            onSubmit: function () {
                if (button.checkForm())
                    return $(this).form('validate');
                return false;
            },
            addDatas: {
                tableName: table.tableName().val(),
                tablePack: table.tablePack().val(),
                author: ws.author().val(),
                wsPath: ws.wsPath().val(),
                pName: project.pName().val(),
                pPath: project.pPath().val(),
                pPackage: project.pPackage().val(),
                pType: project.pType().filter(':checked').val(),
                provideModule: project.module.provide().val(),
                daoModule: project.module.dao().val(),
                serviceModule: project.module.service().val(),
                webModule: project.module.web().val()
            },
            success: function (result) {
                if (result.success) {
                    jQuery.messager.show({
                        title: 'Success',
                        msg: '保存成功'
                    });
                } else {
                    jQuery.messager.show({
                        title: 'Error',
                        msg: result.errorText
                    });
                }
            }
        });
    };

    jQuery('#generate_btn').unbind('click').click(function () {
        generate();
    });
</script>
<script type="text/javascript">
    project.module.change = function () {
        provide.loadPackage();
        dao.loadPackage();
        service.loadPackage();
        web.loadPackage();
    };
    table.colPrefixChange = function () {
        // 重新加载表
        tableInfo.loadTable();
    };

    $(document).ready(function () {
        button.loadCenter().unbind('click').click(function () {
            table.change();
        });

        tableInfo.projectInit();
        provide.projectInit();
        dao.projectInit();
        service.projectInit();
        web.projectInit();
        console.log("Center loaded.")
    });
</script>
